header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  border-bottom: 1px solid #B3EFB2;
}

header h1 {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

header ul {
  display: flex;
  list-style: none;
}

header ul a {
  font-size: 20px;
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
